.dialog-pane {
    -fx-background-color: linear-gradient(to bottom, #323232, #2b2b2b);
    -fx-border-color: #ffcc00;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 15px;
}


.dialog-pane .header-panel {
    -fx-background-color: transparent;
}


.dialog-pane .header-panel .label {
    -fx-text-fill: #ffcc00;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}


.dialog-pane .content.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}


.button {
    -fx-background-color: #ffcc00;
    -fx-text-fill: #2b2b2b;
    -fx-background-radius: 20px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}


.button:hover {
    -fx-background-color: #ffdb4d;
}