.buttonlist {
    -fx-cursor: hand;
    -fx-text-fill: #ffcc00;
    -fx-background-color: black;
    -fx-font-size: 20;
}

.buttonlist:hover {
    -fx-background-color: grey;
}

.buttonvalid {
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-background-color: #02d302;
    -fx-border-radius: 10;
    -fx-font-size: 20;
}

.buttonvalid:hover {
    -fx-background-color: #185018;
}

/* L'état normal (votre code précédent) */
.bouton-valider {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 8 16;
}


.bouton-valider:hover {
    -fx-background-color: #45a049;
    -fx-cursor: hand;
}
.text_input {
    -fx-background-color: #383838;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-color: #555;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-padding: 8 12;
}

.text_input:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.45), 30, 0.35, 0, 10);


}

.text_input:focused {
    -fx-background-color: #383838;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-color: #ffcc00;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-padding: 7 11;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.45), 30, 0.35, 0, 10);
    -fx-prompt-text-fill: transparent;
}

.bouton-or {
    -fx-font-size: 14px;
    -fx-background-color: #444444;
    -fx-text-fill: #ffcc00;
    -fx-border-color: #ffcc00;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}


.bouton-or:hover {
    -fx-text-fill: #444444;
    -fx-cursor: hand;
}