
.table-view {
    -fx-base: #383838;
    -fx-control-inner-background: #383838;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view .corner {
    -fx-background-color: transparent;
}


.table-view .column-header-background {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 10 10 0 0;
}

.table-view .filler {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-size: 40px;
    -fx-border-color: #444;
    -fx-border-width: 0 0 2 0;
}

.table-view .column-header .label {
    -fx-text-fill: #ffcc00;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}


.table-row-cell {
    -fx-background-color: #383838;
    -fx-border-color: transparent;
}


.table-row-cell:odd {
    -fx-background-color: #3e3e3e;
}


.table-cell {
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 10;
}


.table-row-cell:hover, .table-row-cell:selected {
    -fx-background-color: #505050;
    -fx-text-fill: #ffcc00;
}


.table-view .scroll-bar:horizontal, .table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #555;
    -fx-background-radius: 5;
}
